*{
	font-family: arial;
	color: rgba(0, 0, 0, 0.7);
	letter-spacing: 2px;
	line-height: 25px;
}

body{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

h1{
	padding: 20px;
	text-align: center;
}

#b_sec_1{
	height: 100vh;
	background: url(bg_1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#b_sec_box{
	display: grid;
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	grid-template-columns: auto auto auto;
	justify-content: center;
	padding: 10px;
}

.b_box{
	text-align: justify;
	width: 400px;
	position: relative;	
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4), -5px -5px 15px rgba(0, 0, 0, 0.4);
}

.b_box_1{
	grid-row: 1/3;
	background: url(podcast1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 0px;
	height: 70vh;
}

.bttm{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 20px 5px 20px 5px;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.9) 80%, rgba(244, 244, 244, 0.7	));	
	box-shadow: -5px -5px 15px rgba(244, 244, 244, 1);
}

.readBtn{
	background: #D113D7;
	color: #FFF;
	width: 20px;
	height: 20px;	
	text-align: center;
	padding: 15px;
	position: absolute;
	bottom: -20px;
	right: -20px;
	border-radius: 50%;
	font-weight: bold;
}

.b_box_2{
	background: url(nw_1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.b_box_3{
	background: url(nw_2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.b_box_4{
	background: url(nw_3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.b_box_5{
	background: url(nw_4.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#b_sec_2{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(bg_2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#sec_2_box{
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;	
}

#sec_2_inner_box1{
	height: 450px;
}

.sec2_innerBox{
	padding: 10px;
	width: 50%;
	border: 1px solid black;
	align-self: stretch;
}

#sec_2_inner_box2 ul{
padding: 0px;
}

#sec_2_inner_box2 li{
list-style-type: none;
padding: 10px 5px 10px 5px;
margin: 10px auto;
}

#sec_2_inner_box2 li > div{
	display: flex;
	justify-content: space-between;
}

.readbtn2{
	color: green;
}

#b_sec_3{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: url(bg_3.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

#otherBlog{
	display: flex;
	justify-content: space-around;
	padding: 10px;	
	position: relative;
	
}

.otherBlogBox{
	border: 1px solid #FFAEC9;
	width: 250px;
	height: 300px;
	margin: 10px;
}

#BtnGrp{
	border: 1px solid #C3C3C3;
	padding: 25px;
	border-radius: 25px;
}

#nxt1{
	float: left;
}

#nxt2{
	float: right;
}

.npBtn{
	padding: 10px;
	border: none;
	background: #FFAEC9;
	color: white;
}

#address{
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}