*{
box-sizing: border-box;
font-family: cursive;
letter-spacing: 0.1em;
}

body{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: #000;
}

.flexProp{
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
}

/* name_quiz.php css */

#quizTitleSec h3{
  padding: 0px;
  margin: 0px;
}

#quizTitleSec [type="text"] {
  border: 2px solid rgba(204, 204, 204, 0.7);
  width: 100%;
}

#quizTitleSec [type="submit"]{
  background: none;
  color: #fff;
  background: #000;
  padding: 10px;
}

#titleBox{
  flex-direction: column;
  background: #fff;
  width: 500px;
  padding: 1em;
}

/* name_quiz.php css END*/


/* quiz_admin.php css */
#quizCreationSec{
  margin: 10px auto;
  flex-direction: column;
  width: 80%;
  padding: 5px;
}

#note{
  border-left: 5px solid rgba(205, 24, 24, 0.8);
  background: rgba(214, 204, 204, 0.4);
  padding: 0.5vw 0vw 0.5vw 1vw;
  margin-top: 4vw;
}

#quizCreationSec h1{
  text-align: center;
}

#quizCreationSec [type="submit"], #questEditor [type="submit"]{
  background: #000;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

#detailupdatebox{
  color: #fff;
  background: rgba(55, 10, 0, 0.8);
  text-align: center;
  padding: 1vw 0vw 1vw 0vw;
  border-radius: 10px;
  margin-top: 4vw;
}

#detailupdatebox h2{
   width: 320px;
   margin: 0 auto;
   border-bottom: 5px solid #fff;
   padding-bottom: 1vw;
 }

table{
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

#quizCreationSec table, #quizCreationSec th, #quizCreationSec td{
  padding: 1vw 2vw 1vw 2vw;
  margin: 2vw auto;
  width: 100%;
  color: #fff;
}

#quizCreationSec table{
  max-width: 450px;
  margin: 0 auto;
  }

th{
  width: 20%;
}

td{
  width: 80%;
}

textarea{
  border: none;
  outline: none;
  width: 100%;
  /* border: 1px solid rgba(204, 204, 204, 0.6); */
  padding: 10px;
  margin-top: 10px;
}

#addQuestionBox{
  background: rgba(55, 10, 0, 0.8);
  padding: 2vw;
  margin: 4vw auto;
  border-radius: 10px;
  color: #fff;
}

#addQuestionBox h2{
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 250px;
  border-bottom: 5px solid #fff;
}

#qaFieldBox{
  width: 100%;
}

#ques, .opt{
  text-align: left;
}

#questEditor{
  width: 80%;
  margin: 0 auto;
  padding: 2vw 0vw 2vw 0vw;
}

#questEditor h2{
  text-align: center;
}

#QpBox{
  /* border: 1px solid black; */
  margin: 40px auto;
  padding: 1vw;
  border-radius: 10px;
  background: rgba(55, 140, 140, 0.5);
  color: #fff;
}

#QpBox h3{
  margin: 0px;
  padding: 25px 0px 5px 0px;
}

.qdimg{
margin-top: 20px;
width: 100%;
}

.qdimg img{
  width: 100%;
}

/* quiz_admin.php css END*/

/* existq.php css */

#quizHistorySec{
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

#newqz{
  font-weight: bold;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid rgba(204, 204, 204, 0.6);
}

#quizHistorySec tr, #quizHistorySec td, #quizHistorySec th{
  vertical-align: top;
  padding: 10px 5px 10px 5px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.6);
}

#quizHistorySec [type="submit"]{
  background: none;
  padding: 0px;
}

.answeField{
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
}

/* existq.php css END*/
