body{
  padding: 0;
  margin: 0;
}

#navbar{
  background: #000;
  display: flex;
  justify-content: center;
}

#navbar a{
  text-decoration: none;
  color: #fff;
  margin: 0px 5px 0px 5px ;
  padding: 15px;
}

#navbar a:hover{
  background: #fff;
  color: #000;
}
