body{
  padding: 0;
  margin: 0;
  /* background: linear-gradient(to right, rgba(54, 20, 204, 0.5), rgba(255, 0, 0, 0.5)); */
  /* background: linear-gradient(to right, #3ed1f9, #2bce9d, #65ed6e); */
  background: url("image/quiz.jpg") no-repeat;
  background-size: 100vw 100vh;
  font-family: cursive;
}

a{
  text-decoration: none;
  color: #000;
}

.flexProp{
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-1{
  height: 100vh;
  /* mix-blend-mode: screen; */
  text-align: center;
    background: rgba(0, 0, 0, 0.9);
}

#ChoicesMainBox{
  /* background: rgba(255, 255, 255, 1); */
  padding: 2em;
  border-radius: 20px;
  color: #fff;
}

#section-1 .choices{
  padding: 5px 15px 5px 15px;
  text-align: center;
  margin: 10px 25px 0px 25px ;
  color: #fff;
  border-radius: 10px;
}

#btn1{
  background: rgb(85, 45, 250);
  /* box-shadow: 4px 4px 10px rgba(85, 45, 250, 0.8), -2px -2px 10px rgba(85, 45, 250, 0.8); */
  transition: 1s;
}

#btn1:hover{
  box-shadow: 10px 10px 30px rgb(85, 45, 250), -10px -10px 30px rgb(85, 45, 250);
}

#btn2{
  background: rgb(205, 50, 40);
  /* box-shadow: 4px 4px 10px rgba(85, 45, 250, 0.8), -2px -2px 10px rgba(85, 45, 250, 0.8); */
  transition: 1s;
}

#btn2:hover{
  box-shadow: 10px 10px 30px rgb(205, 50, 40), -10px -10px 30px rgb(205, 50, 40);
}
#btn3{
  background: rgb(50, 150, 140);
  /* box-shadow: 4px 4px 10px rgba(85, 45, 250, 0.8), -2px -2px 10px rgba(85, 45, 250, 0.8); */
  transition: 1s;
}

#btn3:hover{
  box-shadow: 10px 10px 30px rgb(50, 150, 140), -10px -10px 30px rgb(50, 150, 140);
}

#btnBox{
  margin: 10px;
}
