*{
  font-family: monospace;
  outline: none;
  letter-spacing: 1px;
  text-transform: capitalize;
}

body{
  padding: 0;
  margin: 0;
}

b{
  text-align: left;
}

header a{
  text-decoration: none;
  color: #fff;
  padding-left: 5px;
}

header{
  padding: 10px 0px 10px 0px;
  background: linear-gradient(to right, #956eea, #8a29aa, #956eea, #ac27e5, #956eea);
  /* background: rgb(154, 120, 144); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#mainContainer{
display: grid;
grid-template-columns: auto auto auto;
justify-content: center;
grid-gap: 20px;
}

.containerBox{
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
}

.containerBox h3{
  padding: 10px 0px 10px 4px;
  border-bottom: 2px solid #000;
}

.containerBox [type="text"], .containerBox [type="password"]{
  border: none;
  padding: 10px;
  border: 2px solid rgba(204, 204, 204, 1);
  margin-top: 10px;
  border-radius: 5px;
}

.btnblack{
  padding: 4px 5px 4px 5px;
  border: none;
  background: linear-gradient(to right, #3ed1f9, #2bce9d, #65ed6e);
  color: #fff;
  border-radius: 2px;
}

.attnbtn{
  background: none;
  border: none;
}

.coursedtl{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

#mypurchasesblock .attnbtn{
  background: #000;
  color: #fff;
  padding: 4px 5px 4px 5px;
}

#attntags{
  display: flex;
}

.attntags{
border: none;
padding: 5px;
border-radius: 5px;
border: 1px solid #000;
margin-left: 5px;
}

#myquizblock div{
  padding: 5px 10px 5px 10px;
}
